h1{
    text-align: center;
    font-family: STKaiti ;
    font-size: 40px;
    font-weight: bold;
}
div{
    margin-left: 50px;
    font-family: STKaiti ;
    font-size: 25px;
    font-weight: bold;
    
}
p{
    margin-left: 100px;
    margin-right: 100px;
    font-family: STKaiti ;
    font-size: 20px;
}
table{
    margin-left: 100px;
    margin-right: 100px;

}
td{
	border-collapse: collapse;
	border-bottom: black 2px dashed;
}